body{
    background: lightyellow;
}
.loja{
    height: auto;
}
.centerHeigth{
    margin-top: 5%;
    margin-left: 5%;
}
.buttonCompra{
    font-size: 30px;
    color: white;
    background: lightseagreen;
    cursor: pointer;
    border: 0;
    width: 500px;
}